:root {
    --black: #151319;
    --white: #f3fcf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: SelectedFont;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: SelectedFont-Bold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
    
@media (prefers-color-scheme: dark) {
    :root {
        --accent: #FF69E4;
    }

    body {
        background-color: var(--black);
        color: var(--white);
    }

    .progress-bar-container {
        background-color: var(--black);
    }
    
    .progress-bar {
        background-color: var(--accent);
    }

    .inverted-svg {
        filter: invert(89%) sepia(75%) saturate(46%) hue-rotate(42deg) brightness(102%) contrast(98%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --accent: #E00070;
    }
    
    body {
        background-color: var(--white);
        color: var(--black);        
    }

    .progress-bar-container {
        background-color: var(--white);
    }
    
    .progress-bar {
        background-color: var(--accent);
    }

    .inverted-svg {
        filter: invert(0);
    }
    .title{opacity: 0.8;}
}

body {
    font-family: SelectedFont, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10%;
}
.progress-bar-container {
    width: 60%;
    height: 4px;
    overflow: hidden;

    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    transition: opacity 0.5s ease 0s;
}

.progress-bar {
    position: absolute;
    height: 100%;
    width: 0%;
    left: 50%;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
}

.blocking-window {
    z-index: 998;
    position: absolute;
    /* background: red; */
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.loaded.progress-bar-container {
    opacity: 0;
}

.loaded.blocking-window {
    display: none;
}

a {
    color: var(--accent);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0.5rem;

    position: relative;
}
a[download] {
    text-transform: uppercase;
    margin-bottom: 0;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -0.1rem;
    content: "";
    background: var(--accent);
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition-delay: 0.2s;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}
a:hover:after { 
    width: 100%; 
    left: 0; 
}

@media only screen and (max-width: 1000px) {
    .main-text {
        font-size: 3rem;
    }
    .title {
        font-size: 5rem;
    }
}

.main-text {
    max-width: max-content;
    text-align: justify;
    font-size: 2rem;
    display: block;   
}
.unimportant {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 75%;
}

.stack {
    opacity: 0.7;
}
.stack > span {
    display: inline-block;
    margin-right: 1.5rem;
}

.title {
    margin-top: 1.5rem;/* was 3% */
    margin-bottom: 1rem;
    font-size: 5rem;
    line-height: 0.88em;

    position: relative;
    left: -0.1em;

    text-align: left;
    font-family: SelectedFont-Bold, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

html, body {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    gap: 2em;
    flex: 1 0 auto;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}

body.loaded > .content {
    opacity: 1;
    transform: translateY(0px);
}
body.loaded > footer {
    opacity: 1;
}

.contacts {
    column-count: 2;
    column-gap: 10rem;
}

.inline-image-container {
    display: inline-block;
    height: 1em;
}

.inline-image {
    opacity: 0.7;
    vertical-align: middle;
    max-height: 100%;
}

footer.footer {
    opacity: 0;
    transform: opacity 0.3s ease 0s;
}