:root {
    --black: #151319;
    --white: #f3fcf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scrollbar-width: thin;
}

@font-face {
    font-family: SelectedFont;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: SelectedFont-Bold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
    
@media (prefers-color-scheme: dark) {
    :root {
        --accent: #FF69E4;
    }

    body {
        background-color: var(--black);
        color: var(--white);
    }

    .progress-bar-container {
        background-color: var(--black);
    }
    
    /* .progress-bar {
        background-color: var(--accent);
    } */

    .inverted-svg {
        filter: invert(89%) sepia(75%) saturate(46%) hue-rotate(42deg) brightness(102%) contrast(98%);
    }

    /* ::-webkit-scrollbar {
        width: 12px;
    } */
    
    ::-webkit-scrollbar-track {
        background: var(--black);
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--accent);
        border-radius: 6px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #666;
    }

}

@media (prefers-color-scheme: light) {
    :root {
        --accent: #E00070;
    }
    
    body {
        background-color: var(--white);
        color: var(--black);        
    }

    .progress-bar-container {
        background-color: var(--white);
    }
    
    .progress-bar {
        background-color: var(--accent);
    }

    .inverted-svg {
        filter: invert(0);
    }

    .inverted-arrow {
        filter: invert(93%) sepia(10%) saturate(252%) hue-rotate(64deg) brightness(106%) contrast(98%);
    }

    .title{opacity: 0.8;}
}

body {
    font-family: SelectedFont, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10%;
}
.progress-bar-container {
    width: 60%;
    height: 4px;
    overflow: hidden;

    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    transition: opacity 0.5s ease 0s;
}

.progress-bar {
    background-color: var(--accent);
    position: absolute;
    height: 100%;
    width: 0%;
    left: 50%;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
}

.blocking-window {
    z-index: 998;
    position: absolute;
    /* background: red; */
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.loaded.progress-bar-container {
    opacity: 0;
}

.loaded.blocking-window {
    display: none;
}

a {
    color: var(--accent);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0.5rem;

    position: relative;
}
a[download] {
    text-transform: uppercase;
    margin-bottom: 0;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -0.1rem;
    content: "";
    background: var(--accent);
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition-delay: 0.2s;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}
a:hover:after { 
    width: 100%; 
    left: 0; 
}

@media only screen and (max-width: 1000px) {
    .main-text {
        font-size: 3rem;
    }
    .title {
        font-size: 5rem;
    }
}

.main-text {
    max-width: max-content;
    text-align: justify;
    font-size: 2rem;
    display: block;   
}
.unimportant {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 75%;
}

.stack {
    opacity: 0.7;
}
.stack > span {
    display: inline-block;
    margin-right: 1.5rem;
}

.title {
    margin-top: 1.5rem;/* was 3% */
    margin-bottom: 1rem;
    font-size: 5rem;
    line-height: 0.88em;

    position: relative;
    left: -0.1em;

    text-align: left;
    font-family: SelectedFont-Bold, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

html, body {
    overflow: hidden;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    gap: 2em;
    flex: 1 0 auto;

    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.8s ease 0s;
}

.content.hidden {
    transform: translateX(-100vw);
}

.for-recruiter {
    display: flex;
    justify-content: space-between;
}

/* .to-work {
    position: fixed;
    top: 2px;
    left: 2px;

    width: 100px;
    height: 20px;
    border-radius: 4px;
    color: var(--black);

    background-color: var(--accent);
} */

.to-work {
    z-index: 500;
    /* border-radius: 0.5em; for rectangle with arrow */

    border-radius: 50%; /* for cercle with text */
    border: 2px solid var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5.75em;
    width: 5.75em;
    padding: 6px;
    /* background-color: var(--accent); */
    transition: transform 0.8s ease 0s;
}

.to-work > p {
    font-size: 0.75rem;
    margin: auto;
    text-transform: uppercase;
}

.to-work:hover {
    cursor: pointer;
}

body.loaded > .content {
    opacity: 1;
}
body.loaded > footer {
    opacity: 1;
}

.contacts {
    column-count: 2;
    column-gap: 10rem;
}

.inline-image-container {
    display: inline-block;
    height: 1em;
}

.inline-image {
    opacity: 0.7;
    vertical-align: middle;
    max-height: 100%;
}

.my-works {
    position: absolute;
    margin-left: 10%;
    margin-bottom: 1rem;
    top: 0;
    left: 0;

    height: calc(100vh - 34px);
    width: 90%;
    transition: transform 0.8s ease 0s;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.my-works.hidden {
    transform: translate(100vw);
}

.project-list {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* width: max-content; */
    height: 100%;

    padding-right: 25px;
    gap: 25px;
}

article {
    height: calc(100% - 1rem);
    min-width: 600px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    container-type: inline-size;

    border: 2px solid var(--accent);
    border-radius: 0.5em;
    margin-bottom: 1rem;
}

.project-name {
    font-size: 2.5rem;
    text-transform: uppercase;
}
.card-stack {font-size: 1.5em;}

.discription {
    text-align: left;

    font-size: 2cqh;
    line-height: 2em;
    color: rgba();
}
.discription  span {
    color: var(--accent);

    padding: 2px;
    opacity: 1;
    border: 1px solid var(--accent);
    border-radius: 2px;
}


.discription ul {
    padding-left: 20px;
}
.discription ul > li {
    list-style-type: circle;
}
.discription ul > li::marker {
    color: var(--accent);
}

.discription  span.unimportant {
    font-size: inherit;
    padding: 0;
    color: inherit;
    display: inline;
    opacity: 0.7;
    border: none;
}

.links {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}

footer.footer {
    height: 34px;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
}